<div class="post-wrapper">

    <!-- Post Header -->
    <div class="post-header">
        <h2 class="post-title">Post #<%= @post.id %> by <%= @post.author.name %></h2>
        <div class="post-metadata">
            <span>Comments: <%= @post.comments.count %></span>
            <%= button_to 'Like', post_likes_path(@post), method: :post %>
            <span>Likes: <%= @post.likes_counter %></span>

            <!-- You can add likes in the same manner if you have implemented that -->
        </div>
    </div>

    <!-- Post Content -->
    <p class="post-content">
        <%= @post.body %>
    </p>

    <!-- Comments Section -->
    <div class="comments-section">
        <h3>Comments:</h3>
        <% @post.comments.each do |comment| %>


            <div class="comment">
                <strong><%= comment.user.name %>:</strong> <%= comment.content %>
            </div>
        <% end %>
    </div>

    <div>
        <%= form_with(model: [@post, Comment.new], local: true) do |form| %>
        <%= form.text_area :content, placeholder: "Add a comment..." %>
        <%= form.submit "Comment" %>
        <% end %>
    </div>

</div>
